.container {
  display: flex;
  position: relative;
  cursor: pointer;
}

.newModal {
  position: relative;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 4px;
  outline: none;
  border: none;
  box-shadow: 2px 2px;
  width: 500px;
  height: 300px;
}

.closeButton {
  background-color: transparent;
  border: none;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: -55px;
  font-size: 40px;
}
  

  
.container > button {
    border-radius: 9px;
    padding: 5px 34px;
    text-decoration: none;
    background-color: #85bb5d;
    border: none;
    font-weight: bold;
    color: white;
}
  