@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans:wght@400;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;500;600;700&display=swap');

/*---------------------FUNDO DA TELA---------------------------*/
.fundo_tela{  
    min-height: 100vh;
    max-height: 100%;
    background: rgb(67,88,164);
    background: linear-gradient(50deg, rgba(67,88,164,1) 0%, rgb(41, 94, 230) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.buttonsContainer{
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

}
.headTitle{
    width: 100%;
    max-width: 1325px;
    font-family: 'Poppins';
    color: whitesmoke;
    font-size: 32px;
    font-weight: bolder;
    margin: 2;
}

.headTitle span {
    color: rgb(34, 34, 34);
}
/*---------------------DIV CONTAINER TABELA---------------------------*/
.containerTabela{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 1350px;
    padding: 16px;

    background: whitesmoke;
    /* background-color: rebeccapurple; */
    border-radius: 10px;

}

/*---------------------FORM MODAL POP-UP REGISTRAR PRESENÇA MANUAL---------------------------*/
.formPresenca{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    padding: 32px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: black;

}

.formPresenca input{
    border: none;
    background-color: #92A8F6;
    border-radius: 10px;
    padding: 16px 16px;
    font-weight: bold;
    font-size: 20px;
}

.formPresenca input:focus-visible{
    border: 0px solid transparent;
}
.formPresenca button{
    border: none;
    background-color: #f31919;
    color: white;    
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;
}


.tabela{
    border-radius:  10px;
    padding: 16px;
    margin: 16px;

}
/*---------------------INPUT SEARCH---------------------------*/
.buscar{
    display: flex;
    justify-content: flex-end;
    /* margin: 16px; */
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans';
    
}
/*---------------------INPUT DE PESQUISA---------------------------*/
.search{
    margin-left: 5px;
    border-radius:  5px;
    padding-left: 5px;

    border: none;
    cursor: pointer;
    outline: none;
    background: rgba(99, 98, 98, 1);
}
/*---------------------BOTAO DO ICONE DA LIXEIRA---------------------------*/
.botao{
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
}

/*---------------------DIV DA BARRA DE PROGRSSO---------------------------*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
}

.flex_container{
    display: flex;
    gap: 0.5rem; 
    
}
.porcentagem{
    font-family: 'Poppins';
    font-weight: 500;
}

/*---------------------BOTAO DE PROGRESSO---------------------------*/
.botaoProgresso{
    display: flex;
    justify-content:space-between;
    width: 100px;
    
}

.button_blue{
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    background-color: #3b82f6;
    color: #fff;
    border-radius: 0.375rem;
    transition: background-color 0.3s;

    border: none;
    cursor: pointer;
    outline: none;

}
.button_blue:hover {
    background-color: #2563eb; 
}
.button_red{
    margin-top: 1rem; 
    padding: 0.75rem 1rem; 
    background-color: #f31919;
    color: #fff; 
    border-radius: 0.375rem;
    transition: background-color 0.3s;

    border: none;
    cursor: pointer;
    outline: none;
}
.button_red:hover{
    background-color: #ef4444;
}


/*---------------------BOTAO DE FINALIZAR---------------------------*/
.botaoFinalizar{
    display: flex;
    margin-top: 10px;
}
.botaoFinalizar button{
    width: 100%;

    background-color: #f31919;
    color: #fff; 
    border-radius: 0.375rem;
    transition: background-color 0.3s;

    border: none;
    cursor: pointer;
    outline: none;
    padding: 16px;

    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins';
}
.botaoFinalizar button:hover{
    opacity: .8;
}
/*---------------------CONTAINER MAIN GERAL---------------------------*/
.containerMain{
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1350px;
    width: 100%;
    margin: auto;
}

/*---------------------BOTAO DE VOLTAR---------------------------*/
.back{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: background-color 0.3s;
    margin: 32px;
    top: 0;
}
.back svg{
    color: white;
    /*--- font-size controla o tamanho do icone ---*/
    font-size: 46px;
}
.back:hover{
    opacity: .8;
}


/*---------------------BOTAO DO USUARIO---------------------------*/
.user{
   padding: 8px 16px;
   background-color: #dc2626;
   border-radius: 1rem;
    cursor: pointer;
}
.button_user{
 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dc2626;
    color: #fff; 
    transition: background-color 0.3s;
    font-size: 32px;
    cursor: pointer;
    border: none;
}
.button_user svg{
    cursor: pointer;
    font-weight: bolder;
}
.user:hover{
    opacity: .9;
}
.progressBarContainer{
    display: flex;
    min-width: 1325px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    transition: all 900ms ease-in-out;
}
.progressBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-width: 1325px;
    /* background-color: red; */
}
